body
  font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif

.faq
  border-top: 1px solid #999
  padding-bottom: 2rem
  /* -bottom: 1px solid #999

.section_head
  margin-bottom: 2rem

.form_layer
  background: #f3f3f3
  // background-image: url('/img/vera_back2.jpg')
  width: 100%
  display: block
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  position: relative
  padding-top: 2rem
  padding-bottom: 2rem
  margin-bottom: 4rem
  color: #333
  label
    font-size: 1.8rem !important
    font-weight: normal !important
  input, textarea
    border-radius: 0

.btn.btn-primary
  background: none
  border: 5px solid #a06
  color: #a06
  font-size: 3rem
  font-weight: bold
.btn.btn-send
  background: #a06
  color: #fff
  font-size: 3rem

h1
  text-align: center
  margin: 2rem 0
  font-size: 5rem

.samples
  img
    width: 100%
    padding-bottom: 2rem

.navbar-brand
  font-size: 36px
  font-weight: bold
  font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif

/**
  .navbar-brand
    display: none
  .navbar.shrink
    background: #f00
    -webkit-transition: all 0.8s ease
    transition: all 0.8s ease
    .navbar-brand
      display: block
    li
      font-size: 14px
